.scramble {
    padding-top: 15%;
    display: none;
}

.minigame {
    margin: 0 auto 20px;
    width: 540px;
    min-width: 540px;
    max-width: 540px;
    background-color: #232832;
    padding: 30px 0;
}

.splash {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
}

.splash .hacker {
    font-size: 65px;
    margin-bottom: 30px;
}

.splash .text {
    font-weight: bold;
}

.minigame .find {
    text-align: center;
    color: white;
    font-size: 30px;
    user-select: none;
    margin-top: 10px;
}

.minigame .find>div {
    display: inline-block;
}

.minigame .timer {
    text-align: center;
    color: green;
    font-size: 14px;
    margin-bottom: 15px;
}

.minigame .codes {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
}

.minigame .codes>div {
    flex: 1 0 10%;
    margin: 7px 0;
    color: white;
    text-align: center;
    font-size: 18px;
}

.minigame .codes>div.red {
    color: red;
}

.minigame .codes>div.green {
    color: green;
}

.minigame .mirrored .find>div,
.minigame .mirrored .codes>div {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.hidden {
    display: none;
}